

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:2em;
    position:relative;


}
.tree ul ul {
    margin-left:.5em;

}

.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color: #2f5380;
    font-weight:500;
    position:relative;


}


.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color: #963767;
    border: #0abe13;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;

}

.tree li:hover{
    margin:0;
    padding:0 1em;
    line-height:2em;
    color: #063773;
    font-weight:700;
    position:relative;
}
.lightgreyiconcolor {color:palevioletred; font-size: large;}
.fontSmall { font-size: small;}

/*
.currentHover {
      background-image: linear-gradient(to bottom, #e9f5e7, #c3d9bf);  background: linear-gradient(90deg, rgba(237, 242, 247) 10%, rgb(187, 237, 245) 0%, rgb(187, 237, 245) 90%, rgba(237, 242, 247) 90%);
    border-radius: 5px;
    background: rgb(51,71,176);
    background: radial-gradient(circle, rgb(125, 143, 239) 1px, rgba(237, 242, 247,1) 90%);
    border:1px solid #041e60;
    font-size: 13pt;
}
li.currentHover ul {
    background-color: rgba(237, 242, 247, var(--bg-opacity));
    / background-image: linear-gradient(to bottom, #e4eef5, #c0d1db);
}


.list-group.list-group-tree {
    padding: 0;
}

.list-group.list-group-tree .list-group {
    margin-bottom: 0;
}

.list-group.list-group-tree > .list-group > .list-group-item {
    padding-left: 30px;
}
.list-group.list-group-tree > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}
.list-group.list-group-tree > .list-group > .list-group > .list-group-item > .list-group-item {
    padding-left: 60px;
}
.list-group.list-group-tree > .list-group > .list-group > .list-group-item > .list-group-item > .list-group-item {
    padding-left: 75px;
}
.list-group.list-group-tree > .list-group > .list-group > .list-group-item > .list-group-item > .list-group-item > .list-group-item {
    padding-left: 90px;
}

.list-group-item .fa {
    margin-right: 5px;
}

.fa-chevron:before {
    content: "\f054";
}
.in > .fa-chevron:before {
    content: "\f078";
}







*/


    /*
    .select2-dropdown {
        background: red;
    }
    */
    /* Input field */
    /*#bap + .select2 .select2-selection__rendered {  background-color: yellow; } */

    /* Each result */
    /*#select2-bap-results { background-color: salmon; }*/

    /* Higlighted (hover) result */
    /*#select2-bap-results .select2-results__option--highlighted { background-color: aqua! important; }*/

    /* Selected option */
    /*#select2-bap-results .select2-results__option[aria-selected=true] { background-color: teal !important; }*/


    /* Around the search field */
    /*.select2-search { background-color: lightgray; }*/

    /* Search field */
    /*.select2-search input { background-color: lightgray; }*/


/*
.select2-results .select2-highlighted {
    background: #3ea211;
}
*/



